.nav-item:hover {
    background-color: rgba(12, 17, 16, 0.829);
  
}

body{
    background-color: rgba(78, 104, 104, 0.294);
}



#demo{
    align-self: center;
    height: fit-content;
    margin: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}